{% extends 'base.html.twig' %}

{% block title %}Space Inviters!{% endblock %}

{% macro sortArrow(sortName, sort, sortDirection) %}
    {% if sort == sortName %}
        {% if sortDirection == 'asc' %}
            <svg xmlns="http://www.w3.org/2000/svg" class="inline-block w-4 h-4" width="24" height="24"
                 viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                 stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M6 15l6 -6l6 6"></path>
            </svg>
        {% else %}
            <svg xmlns="http://www.w3.org/2000/svg" class="inline-block w-4 h-4" width="24" height="24"
                 viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                 stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M6 9l6 6l6 -6"></path>
            </svg>
        {% endif %}
    {% else %}
        <!-- up and down arrow svg -->
        <svg xmlns="http://www.w3.org/2000/svg" class="inline-block w-4 h-4 text-slate-300" width="24" height="24"
             viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
             stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M8 9l4 -4l4 4"></path>
            <path d="M16 15l-4 4l-4 -4"></path>
        </svg>
    {% endif %}
{% endmacro %}

{% block body %}
    <div class="flex">
        <aside class="hidden md:block md:w-64 bg-gray-900 px-2 py-6">
            <h2 class="text-xl text-white font-semibold mb-6 px-2">Planets</h2>
            <turbo-frame id="planet-info">
                {{ include('main/_planet_list.html.twig') }}
            </turbo-frame>
        </aside>

        <section class="flex-1 ml-10">
            <form
                    method="GET"
                    action="{{ path('app_homepage') }}"
                    class="mb-6 flex justify-between"
                    data-controller="autosubmit"
                    data-turbo-frame="voyage-list"
            >
                <div class="w-1/3 flex">
                    <input
                            type="search"
                            name="query"
                            value="{{ app.request.query.get('query') }}"
                            aria-label="Search voyages"
                            placeholder="Search voyages"
                            class="px-4 py-2 rounded bg-gray-800 text-white placeholder-gray-400"
                            data-action="autosubmit#debouncedSubmit"
                            autofocus
                    >

                    <twig:Modal :closeButton="true">
                        <twig:block name="trigger">
                            <twig:Button
                                    variant="link"
                                    type="button"
                                    data-action="modal#open"
                            >Options
                            </twig:Button>
                        </twig:block>

                        <h3 class="text-white text-lg font-semibold mb-2">Search Options</h3>
                        <hr class="mb-4">
                        <h4 class="text-white text-sm font-semibold mb-2">
                            Planets
                        </h4>
                        {% for planet in planets %}
                            <div class="flex items-center mb-4">
                                <input
                                        type="checkbox"
                                        class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
                                        name="planets[]"
                                        value="{{ planet.id }}"
                                        id="planet-search-{{ planet.id }}"
                                        {{ planet.id in searchPlanets ? 'checked' : '' }}
                                >
                                <label for="planet-search-{{ planet.id }}"
                                       class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">{{ planet.name }}</label>
                            </div>
                        {% endfor %}
                        <div class="flex justify-end">
                            <twig:Button
                                    variant="success"
                                    data-action="modal#close"
                            >See Results
                            </twig:Button>
                        </div>
                    </twig:Modal>
                </div>
                {% block result_count %}
                    <div id="voyage-result-count" class="whitespace-nowrap m-2 mr-4">{{ voyages|length }} results</div>
                {% endblock %}
            </form>
            <turbo-frame id="voyage-list" data-turbo-action="advance">
                <div class="bg-gray-800 p-4 rounded">
                    <table class="w-full text-white">
                        <thead>
                        <tr>
                            <th class="text-left py-2">
                                <a href="{{ path('app_homepage', {
                                    ...app.request.query.all(),
                                    sort: 'purpose',
                                    sortDirection: sort == 'purpose' and sortDirection == 'asc' ? 'desc' : 'asc',
                                }) }}">
                                    Purpose {{ _self.sortArrow('purpose', sort, sortDirection) }}
                                </a>
                            </th>
                            <th class="text-left py-2 pr-4">Planet</th>
                            <th class="text-left py-2">
                                <a href="{{ path('app_homepage', {
                                    ...app.request.query.all(),
                                    sort: 'leaveAt',
                                    sortDirection: sort == 'leaveAt' and sortDirection == 'asc' ? 'desc' : 'asc',
                                }) }}">
                                    Departing {{ _self.sortArrow('leaveAt', sort, sortDirection) }}
                                </a>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for voyage in voyages %}
                            <tr class="border-b border-gray-700 {% if loop.index is odd %} bg-gray-800 {% else %} bg-gray-700 {% endif %}">
                                <td class="p-4">{{ voyage.purpose }}</td>
                                <td class="px-2 whitespace-nowrap">
                                    <div
                                            data-controller="popover"
                                            data-action="mouseenter->popover#show mouseleave->popover#hide"
                                            class="relative"
                                    >
                                        <img
                                                src="{{ asset('images/'~voyage.planet.imageFilename) }}"
                                                alt="Image of {{ voyage.planet.name }}"
                                                class="inline-block w-8 h-8 rounded-full bg-gray-600 ml-2"
                                        >

                                        <template data-popover-target="content">
                                            <div
                                                    data-popover-target="card"
                                                    class="max-w-sm rounded shadow-lg bg-gray-900 absolute left-0 bottom-10"
                                            >
                                                <turbo-frame data-skip-transition
                                                             id="planet-card-{{ voyage.planet.id }}" target="_top"
                                                             src="{{ path('app_planet_show_card', {
                                                                 'id': voyage.planet.id,
                                                             }) }}">
                                                    <div class="p-10">
                                                        <svg xmlns="http://www.w3.org/2000/svg" class="animate-spin"
                                                             width="24" height="24" viewBox="0 0 24 24" stroke-width="2"
                                                             stroke="currentColor" fill="none" stroke-linecap="round"
                                                             stroke-linejoin="round">
                                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                            <path d="M12 3a9 9 0 1 0 9 9"></path>
                                                        </svg>
                                                    </div>
                                                </turbo-frame>
                                            </div>
                                        </template>
                                    </div>
                                </td>
                                <td class="px-2 whitespace-nowrap">{{ voyage.leaveAt|ago }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="flex items-center mt-6 space-x-4">
                    {% if voyages.hasPreviousPage %}
                        <a href="{{ pagerfanta_page_url(voyages, voyages.previousPage) }}"
                           class="block py-2 px-4 bg-gray-700 text-white rounded hover:bg-gray-600">Previous</a>
                    {% endif %}
                    {% if voyages.hasNextPage %}
                        <a href="{{ pagerfanta_page_url(voyages, voyages.nextPage) }}"
                           class="block py-2 px-4 bg-gray-700 text-white rounded hover:bg-gray-600">Next</a>
                    {% endif %}
                    <div class="ml-4">
                        Page {{ voyages.currentPage }}/{{ voyages.nbPages }}
                    </div>
                </div>
                <turbo-stream action="replace" target="voyage-result-count">
                    <template>
                        {{ block('result_count') }}
                    </template>
                </turbo-stream>
            </turbo-frame>
        </section>
    </div>
{% endblock %}
