{% if app.request.headers.get('turbo-frame') == frame %}

    <turbo-stream action="append" target="flash-container">
        <template>{{ include('_flashes.html.twig') }}</template>
    </turbo-stream>

    {% for stream in app.flashes('stream') %}
        {{ stream|raw }}
    {% endfor %}

{% endif %}
