<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Space Inviters!{% endblock %}</title>
    {% if app.environment != 'test' %}
        <meta name="view-transition">
    {% endif %}
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {% block stylesheets %}
    {% endblock %}

    {% block javascripts %}
        {{ importmap('app') }}
    {% endblock %}
</head>
<body class="bg-black text-white font-mono">

<button id="dropdownDefaultButton" data-dropdown-toggle="dropdown"
        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        type="button">Dropdown button
    <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
    </svg>
</button>

<!-- Dropdown menu -->
<div id="dropdown" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
    <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefaultButton">
        <li>
            <a href="#"
               class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Dashboard</a>
        </li>
        <li>
            <a href="#"
               class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Settings</a>
        </li>
        <li>
            <a href="#"
               class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Earnings</a>
        </li>
        <li>
            <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Sign
                out</a>
        </li>
    </ul>
</div>

<div class="container mx-auto min-h-screen flex flex-col">
    <header class="my-8 px-4">
        <nav class="flex items-center justify-between mb-4">
            <div class="flex items-center">
                <a
                        href="{{ path('app_homepage') }}"
                        data-controller="celebrate"
                        data-action="mouseover->celebrate#poof"
                >
                    <img src="{{ asset('images/logo.png') }}" width="50" alt="Space Inviters Logo">
                </a>
                <a href="{{ path('app_homepage') }}" class="text-xl ml-3">Space Inviters</a>
                <a href="{{ path('app_voyage_index') }}" class="ml-6 hover:text-gray-400">Voyages</a>
                <a href="{{ path('app_planet_index') }}" class="ml-4 hover:text-gray-400">Planets</a>
            </div>
            <twig:Modal
                    :closeButton="true"
                    padding=""
                    :fixedTop="true"
                    data-turbo-permanent
                    id="global-search-modal"
                    data-action="keydown.meta+k@window->modal#open keydown.ctrl+k@window->modal#open"
            >
                <twig:block name="trigger">
                    <div
                            class="hidden md:flex pr-10 items-center space-x-2 border-2 border-gray-900 rounded-lg p-2 bg-gray-800 text-white cursor-pointer"
                            data-action="click->modal#open"
                    >
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-500" stroke-width="2"
                             stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                            <path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0"/>
                            <path d="M21 21l-6 -6"/>
                        </svg>
                        <span class="pl-2 pr-10 text-gray-500">Search Cmd+K</span>
                    </div>
                </twig:block>

                <twig:SearchSite/>
            </twig:Modal>
        </nav>
    </header>

    <!-- Make sure the main tag takes up the remaining height -->
    <main class="flex-grow">{% block body %}{% endblock %}</main>

    <!-- Footer -->
    <footer class="py-4 mt-6 bg-gray-800 text-center">
        <div class="text-sm">
            With
            <svg class="inline-block w-4 h-4 text-red-600 fill-current" xmlns="http://www.w3.org/2000/svg"
                 viewBox="0 0 20 20">
                <path d="M10 3.22l-.61-.6a5.5 5.5 0 00-7.78 7.78l7.39 7.4 7.39-7.4a5.5 5.5 0 00-7.78-7.78l-.61.61z"/>
            </svg>
            from Symfonycasts.
        </div>
    </footer>
</div>

<twig:Modal>
    <turbo-frame
            id="modal"
            data-modal-target="dynamicContent"
            data-action="turbo:before-fetch-request->modal#showLoading"
            class="aria-busy:opacity-50 transition-opacity"
    >
        {{ include('_frameSuccessStreams.html.twig', { frame: 'modal' }) }}
    </turbo-frame>
    <twig:block name="loading_template">
        <div class="bg-space-pattern bg-cover rounded-lg p-8">
            <div class="space-y-2">
                <div class="h-4 bg-gray-700 rounded w-3/4 animate-pulse"></div>
                <div class="h-4 bg-gray-700 rounded animate-pulse"></div>
                <div class="h-4 bg-gray-700 rounded animate-pulse"></div>
                <div class="h-4"></div>
                <div class="h-4 bg-gray-700 rounded animate-pulse"></div>
                <div class="h-4 bg-gray-700 rounded w-1/2 animate-pulse"></div>
                <div class="h-4 bg-gray-700 rounded w-3/4 animate-pulse"></div>
                <div class="h-4"></div>
                <div class="h-4 bg-gray-700 rounded w-1/2 animate-pulse"></div>
            </div>
        </div>
    </twig:block>
</twig:Modal>

<div id="flash-container">
    {{ include('_flashes.html.twig') }}
</div>
</body>
</html>
