<form method="post"
      action="{{ path('app_voyage_delete', {'id': voyage.id}) }}"
      onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ voyage.id) }}">
    <twig:Button variant="danger">
        Delete
    </twig:Button>
</form>
